{% extends "orders/base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block content %}

    {{ cart.pizza_order.all }}
    {% if not cart.pizza_order.all %}
        Begin orders now
    {% else %}
        {% for pizza in cart.pizza_order.all %}
            <p>{{ pizza }}</p>
        {% endfor %}
    {% endif %}

    {% if not cart.sub_order.all %}
        Begin orders now
    {% else %}
        {% for sub in cart.sub_order.all %}
            <p>{{ sub }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
