{% extends "orders/base.html" %}
{% load static %}

{% block title %}
    Checkout
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'orders/style/checkout.css' %}"/>
    <link rel="stylesheet" href="{% static 'orders/style/orders.css' %}"/>
    <script src="{% static 'orders/js/checkout.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">

            {% for pizza in cart.pizza_order.all %}
                <div class="order">
                    <h3>Pizza {{ pizza.pizza_id.type.name }}: {{ pizza.pizza_id.name }}</h3>
                    Size: {% if pizza.large %} big {% else %} small {% endif %} <br>
                    Toppings:
                    {% for top in pizza.toppings.all %}
                        {{ top.name }}
                    {% endfor %}<br>
                    Price:
                    <div style="display: inline" class="price">{% if pizza.large %}
                        {{ pizza.pizza_id.price_large }} {% else %}
                        {{ pizza.pizza_id.price_small }}{% endif %}</div>
                </div>
            {% endfor %}

            {% for sub in cart.sub_order.all %}
                <div class="order">
                    <h3>
                        {{ sub.sub_id.name }}
                    </h3>
                    Size: {% if sub.large %} big {% else %} small {% endif %} <br>
                    Extra cheese: {% if sub.extra_cheese %} yes
                    <div class="extra-cheese" style="display: inline; opacity: 0">y</div> {% else %} no {% endif %} <br>
                    Adds:
                    {% for adds in sub.adds.all %}
                        {{ adds.name }}
                    {% endfor %}
                    <div class="add-count" style="display: inline; opacity: 0">{{ sub.adds.all.count }}</div>
                    <br>
                    Price:
                    <div style="display: inline" class="price">
                        {% if sub.large %}
                            {{ sub.sub_id.price_large }}
                        {% else %}
                            {{ sub.sub_id.price_small }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% for salad in cart.salad_order.all %}
                <div class="order">
                    <h3>
                        {{ salad.salad_id.name }}
                    </h3>
                    Price:
                    <div style="display: inline" class="price">{{ salad.salad_id.price }} </div>
                </div>
            {% endfor %}

            {% for pasta in cart.pasta_order.all %}
                <div class="order">
                    <h2>
                        {{ pasta.pasta_id.name }}
                    </h2>
                    Price:
                    <div style="display: inline" class="price">{{ pasta.pasta_id.price }} </div>
                </div>
            {% endfor %}

            {% for dinner_plate in cart.dinner_plate_order.all %}
                <div class="order">
                    <h3>
                        {{ dinner_plate.dinner_plate_id.name }}
                    </h3>
                    Size: {% if dinner_plate.large %} big {% else %} small {% endif %} <br>
                    Price:
                    <div style="display: inline" class="price">{% if dinner_plate.large %}
                        {{ dinner_plate.dinner_plate_id.price_large }} {% else %}
                        {{ dinner_plate.dinner_plate_id.price_small }}{% endif %}</div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="order-details">
                <h3>Total:
                    <div style="display: inline" class="total-price"></div>
                </h3>
                <form action="make_order" method="post">
                    {% csrf_token %}
                    <textarea name="address" placeholder="address" cols="40" maxlength="512" required></textarea>
                    <textarea name="add_info" placeholder="Additional info" cols="40" maxlength="512"></textarea>
                    <br>
                    <button>Place order</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
