{% extends "orders/base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    {% for pizza in cart.pizza_order.all %}
        <div class="checkout-item">
            <h2>
                {{ pizza.pizza_id.name }}
            </h2>
            Size: {% if pizza.large %} big {% else %} small {% endif %} <br>
            Toppings:
            {% for topping in pizza.toppings.all %}
                {{ topping.name }}
            {% endfor %} <br>
            Price:
            <div style="display: inline" class="price">{% if pizza.large %} {{ pizza.pizza_id.price_large }} {% else %}
                {{ pizza.pizza_id.price_small }}{% endif %}</div>
        </div>
    {% endfor %}

    {% for sub in cart.sub_order.all %}
        <div class="checkout-item">
            <h2>
                {{ sub.sub_id.name }}
            </h2>
            Size: {% if sub.large %} big {% else %} small {% endif %} <br>
            Extra cheese: {% if sub.extra_cheese %} yes {% else %} no {% endif %} <br>
            Adds:
            {% for adds in sub.adds.all %}
                {{ adds.name }}
            {% endfor %} <br>
            Price:
            <div style="display: inline" class="price">{% if sub.large %} {{ sub.sub_id.price_large }} {% else %}
                {{ sub.sub_id.price_small }}{% endif %}</div>
        </div>
    {% endfor %}

    {% for salad in cart.salad_order.all %}
        {{ salad.salad_id.name }}
    {% endfor %}

    {% for pasta in cart.pasta_order.all %}
        {{ pasta.pasta_id.name }}
    {% endfor %}

    {% for dinner_plate in cart.dinner_plate_order.all %}
        {{ dinner_plate.dinner_plate_id.name }}
    {% endfor %}
{% endblock %}
