{% extends 'orders/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'orders/style/menu.css' %}"/>
    <script src="{% static 'orders/js/menu.js' %}"></script>
{% endblock %}

{% block title %}
    Menu
{% endblock %}



{% block content %}
    <h2 id="pizza">Pizza</h2>
    {% for pizza_type in pizza %}
        <h3>{{ pizza_type.name }}</h3>
        <table class="table-menu">
            <th>Pizza</th>
            <th>Small</th>
            <th>Big</th>
            {% for pizza_ in pizza_type.pizzas.all %}
                <tr>
                    <td> {{ pizza_.name }} </td>
                    <td class="price-menu">
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="pizza" data-large="False" data-id="{{ pizza_.id }}">
                                {{ pizza_.price_small }}
                            </button>
                        {% else %}
                            {{ pizza_.price_small }}
                        {% endif %}
                    </td>
                    <td class="price-menu">
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="pizza" data-large="True" data-id="{{ pizza_.id }}">
                                {{ pizza_.price_large }}
                            </button>
                        {% else %}
                            {{ pizza_.price_large }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    <h2 id="subs">Subs</h2>
    <table class="table-menu">
        <th>Sub</th>
        <th>Small</th>
        <th>Big</th>
        {% for sub in subs.all %}
            <tr>
                <td> {{ sub.name }} {% if sub.adds_available %} <i>Adds available</i> {% endif %}</td>
                <td class="price-menu">
                    {% if sub.price_small %}
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="sub" data-large="False" data-id="{{ sub.id }}">
                                {{ sub.price_small }}
                            </button>
                        {% else %}
                            {{ sub.price_small }}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="price-menu">
                    {% if sub.price_large %}
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="sub" data-large="True" data-id="{{ sub.id }}">
                                {{ sub.price_large }}
                            </button>
                        {% else %}
                            {{ sub.price_large }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2 id="salads">Salads</h2>
    <table class="table-menu">
        <th>Salad</th>
        <th>Price</th>
        {% for salad in salads.all %}
            <tr>
                <td> {{ salad.name }} </td>
                <td class="price-menu">
                    {% if salad.price %}
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="salad" data-large="False" data-id="{{ salad.id }}">
                                {{ salad.price }}
                            </button>
                        {% else %}
                            {{ salad.price }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2 id="pastas">Pastas</h2>
    <table class="table-menu">
        <th>Pasta</th>
        <th>Price</th>
        {% for pasta in pastas.all %}
            <tr>
                <td> {{ pasta.name }} </td>
                <td class="price-menu">
                    {% if pasta.price %}
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="pasta" data-large="False" data-id="{{ pasta.id }}">
                                {{ pasta.price }}
                            </button>
                        {% else %}
                            {{ pasta.price }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2 id="dinner">Dinner plates</h2>
    <table class="table-menu">
        <th>Dinner plate</th>
        <th>Small</th>
        <th>Large</th>
        {% for dinner in dinner_plates.all %}
            <tr>
                <td> {{ dinner.name }} </td>
                <td class="price-menu">
                    {% if dinner.price_small %}
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="dinner" data-large="False"
                                    data-id="{{ dinner.id }}">
                                {{ dinner.price_small }}
                            </button>
                        {% else %}
                            {{ dinner.price_small }}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="price-menu">
                    {% if dinner.price_large %}
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="dinner" data-large="True" data-id="{{ dinner.id }}">
                                {{ dinner.price_large }}
                            </button>
                        {% else %}
                            {{ dinner.price_large }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="notification">
        Item added to cart
    </div>


{% endblock %}