{% extends 'orders/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'orders/style/menu.css' %}"/>
    <script src="{% static 'orders/js/menu.js' %}"></script>
{% endblock %}

{% block title %}
    Menu
{% endblock %}



{% block content %}
    <h1>Menu</h1>
    <h2>Pizza</h2>
    {% for pizza_type in pizza %}
        <h3>{{ pizza_type }}</h3>
        <table>
            <th>Pizza</th>
            <th>Small</th>
            <th>Big</th>
            {% for pizza_ in pizza_type.pizzas.all %}
                <tr>
                    <td> {{ pizza_.name }} </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="pizza" data-large="False" data-id="{{ pizza_.id }}">
                                {{ pizza_.small_price }}
                            </button>
                        {% else %}
                            {{ pizza_.small_price }}
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_authenticated %}
                            <button class="add-menu" data-type="pizza" data-large="True" data-id="{{ pizza_.id }}">
                                {{ pizza_.large_price }}
                            </button>
                        {% else %}
                            {{ pizza_.large_price }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    <h2>Subs</h2>
    <ul>
        {% for sub in subs %}
            <li>
                {{ sub }}
            </li>
        {% endfor %}
    </ul>
    <h2>Salads</h2>
    <ul>
        {% for salad in salads %}
            <li>
                {{ salad }}
            </li>
        {% endfor %}
    </ul>
    <h2>Pastas</h2>
    <ul>
        {% for pasta in pastas %}
            <li>
                {{ pasta }}
            </li>
        {% endfor %}
    </ul>
    <h2>Dinner plates</h2>
    <ul>
        {% for dinner_plate in dinner_plates %}
            <li>
                {{ dinner_plate }}
            </li>
        {% endfor %}
    </ul>
    <div class="notification">
        Item added to cart
    </div>


{% endblock %}