@import "color";

body {
  text-align: center;
}


.content {
  padding: 20px;
  margin: 0 auto;
}

table {
  table-layout: fixed;
  width: 100%;

  th, td {
    border: $green 2px solid;
    padding: 5px;
    text-align: left;
  }

}

