@import "color";

.theme {
  width: 100%;
  border: #be0027 2px solid;
  padding: 5px;
}

table {
  table-layout: fixed;
  width: 100%;

  th, td {
    border: $green 2px solid;
    padding: 5px;
  }

  .topic-icon {
    width: 10%;

    img {
      height: 40px;
    }
  }

  .title {
    width: 40%;
  }

  .last-post {
    width: 40%;
  }
}

