@import "color";

.theme {
  width: 100%;
  border: $red 2px solid;
  padding: 5px;

  .topic-icon {
    width: 10%;
    text-align: center;

    img {
      height: 40px;
    }
  }

  .title {
    width: 40%;
  }

  .reply-count {
    text-align: center;
  }

  .last-post {
    width: 40%;
  }
}
