{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/chat.css') }}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>

    <div id="chat-body">
        <ul id="chat-msgs">
            {% for msg in msgs %}
                <li>
                    <p class="msg-user">{{ msg.user }}</p>
                    <p class="msg-time">{{ msg.timestamp.strftime("%H:%M:%S") }}</p>
                    <p class="msg-text">{{ msg.msg }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="chat-msg">
        <form id="chat-form">
            <label for="new-msg">
                <input required placeholder="New message" autofocus autocomplete="off" id="new-msg">
            </label>
            <button id="new-msg-submit">Send</button>
        </form>
    </div>
{% endblock %}