{% extends "layout.html" %}
{% block title %}
    :All chats
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/chats.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/chats.js') }}"></script>
{% endblock %}

{% block content %}

    <ul>
        {% for chat in chats %}
            <li><a href="#" onclick="add_user_chat('{{ chat.name }}')">:{{ chat.name }}</a></li>
        {% endfor %}

    </ul>


{% endblock %}