<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw and guess</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/desktop.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/desktop.js') }}"></script>
</head>
<body>
This is a page with drown image
<img id="img" src="" alt="Wait for a first submited image">

</body>
</html>