<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw and guess</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/desktop.css') }}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/desktop.js') }}"></script>
</head>
<body>
<h2>
    {% trans %} Guess: {% endtrans %}
</h2>
<div id="img">
    {% trans %} Awaiting a first picture {% endtrans %}
</div>
</body>
</html>