{% extends "base.html" %}
{% block header %} {% endblock %}
{% block title %}
    Login page
{% endblock %}

{% block body %}
    <div class="login">
        <h1>Login</h1>
        <form action="{{ url_for('login_authorization') }}" method="post">
            <div class="form-group">
                <label>
                    <input class="form-contol" name="username" type="text" autofocus required placeholder="Username">
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input class="form-contol" name="password" type="password" required placeholder="Password">
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
        <p>
            Not a member? <a href="{{ url_for('register') }}">Register now</a>
        </p>
    </div>
{% endblock %}