.user-button {
  padding-left: 55px !important;
}

.width-70 {
  width: 70%;
  margin: 0 auto;
  padding: 6px;

  h1 {
    padding: 12px;
  }
}

.login {
  width: 500px;
  margin: 0 auto;
}

.login * {
  h1 {
    font-size: 16ex;
    padding: 8px;
  }

  text-align: center;
  padding: 8px;
}
