#chat-head {
  position: sticky;
  height: 4ex;
  background-color: olive;
  font-size: 4ex;
  padding: 10px;
}

#chat-body {
  flex: 1;
  overflow-y: scroll;
}

#chat-msg {
  box-sizing: border-box;
  text-align: center;
  height: 5ex;
}

#chat-form {
  width: 100%;

  label {
    width: 90%;

    input {
      width: 100%;
    }
  }
}

