@import "colors";
body, html {
  height: 100%;
}

.bg {
  background-size: cover;
  height: 100%;
  background-color: $dark-green;
}

/* Position text in the middle of the page/image */
.center {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: $white;
  font-weight: bold;
  border: 3px solid $accent-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}

input {
  width: 100%;
  background: none;
  border: none;
  color: $white;
  border-bottom: $white solid 3px;
  transition: border-color .7s ease-out;
}

input:invalid {
  border-bottom: $red solid 3px;
}

form {
  width: 100%;
  text-align: center;

  label {
    width: 70%;
  }
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: $red;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.btn-user {
  background-color: $accent-color;
  opacity: 1;
  transition: opacity .7s ease-out;
}

.btn-user:hover {
  opacity: 0.7;
}
