$sidebar-width: 260px;

#flex {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
}

#sidebar {
  width: $sidebar-width;
  height: 100%;
  position: sticky;
  background-color: khaki;
  padding-top: 16px;
}

#content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
