$sidebar-width: 260px;
@import "colors";

#flex {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
}

#sidebar {
  padding-left: 3ex;
  width: $sidebar-width;
  height: 100%;
  position: sticky;
  background-color: $dark-green;
  color: $white;
  padding-top: 16px;
}

#dark-mode {
  margin-left: 2ex;
  margin-bottom: 1ex;
  width: 40px;
  height: 40px;
}

.dark-mode #sidebar {
  background-color: #0D0D0D;
}

#content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $white;
  color: $dark-green;
}

.dark-mode #content {
  background-color: #1c1c1e;
  color: $white-dark;
}

#chat-head {
  position: sticky;
  height: 4ex;
  font-size: 4ex;
  padding: 10px;
  background-color: $accent-color;
  color: $white;
}

.dark-mode #chat-head {
  background-color: $dark-green;
  color: $accent-color;
}

a:link, a:hover, a:active, a:visited {
  color: $accent-color;
}

.dark-mode a:link, .dark-mode a:hover, .dark-mode a:active, .dark-mode a:visited {
  color: $accent-color;
}

#chats {
  display: flex;
  flex-direction: column;
}

.all-chats {
  height: 2ex;
}

#chat-list {
  flex: 1;
}

input[type=text] {
  background: none;
  border: none;
  border-bottom: $accent-color solid 3px;
  transition: border-color .7s ease-out;
}

input[type=text]:invalid {
  border-bottom-color: $red;
}

.dark-mode input {
  color: $white-dark;
}

.btn-user {
  background-color: $accent-color !important;
  opacity: 1;
}

.btn-user:hover {
  opacity: 0.7;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: $red;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

#add-new-chat img {
  transform: translateY(-0.3ex);
  width: 1.5ex;
  height: 1.5ex;
}

