.item-cart {
  width: 60%;
  margin: 20px auto;
  background-color: #00000020;
  border-radius: 10px;
  //opacity: 0.2;
  padding: 20px;
  display: block;
  position: relative;
}

.hidden {
  height: 0;
  opacity: 0.1;
}

label {
  //  display: block;
  //  position: relative;
  //  left: 20px;
  padding-left: 20px;
}

.price {
  position: relative;
  text-align: right;
}

.price:before {
  content: '$';
}

select {
}
