{% extends "forum/base.html" %}
{% load static %}

{% block title %}
    Forum italiano
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'forum/style/index.css' %}"/>
{% endblock %}

{% block content %}
    <h1> This is official italian forum</h1>
    {% for theme in themes %}
        <div class="theme">
            <h2>{{ theme.title }}</h2>
            {% for topic in theme.topic.all %}
                <div class="topic">
                    <h2>{{ topic.title }}</h2>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}