{% extends "forum/base.html" %}
{% load static %}

{% block title %}
    Forum italiano
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'forum/style/index.css' %}"/>
{% endblock %}

{% block content %}
    <h1> This is official italian forum</h1>
    {% for theme in themes %}
        <div class="theme">
            <h2>{{ theme.title }}</h2>
            <table>
                <tr>
                    <th class="topic-icon">

                    </th>
                    <th class="title">
                        Title
                    </th>
                    <th class="reply-count">
                        Reply count
                    </th>
                    <th class="last-post">
                        Last reply
                    </th>
                </tr>
                <tbody>
                {% for topic in theme.topic.all %}
                    <tr>
                        <td class="topic-icon">
                            <img src="{{ theme.icon }}" alt="{{ theme.title }}">
                        </td>
                        <td class="title">
                            <a href="{% url 'topic' %}{{ topic.id }}">{{ topic.title }}</a>
                        </td>
                        <td class="reply-count">
                            {{ topic.post.count }}
                        </td>
                        <td class="last-post">
                            <div class="date">
                                {{ topic.post.last.date }}
                            </div>
                            <div class="user">
                                By: <a href="

                                    {% url 'user' %}{{ topic.post.last.user.user.username }}">{{ topic.post.last.user.user.username }}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}