{% extends 'forum/base.html' %}
{% load static %}

{% block title %}
    User {{ forum_user.user.username }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'forum/style/user.css' %}"/>
{% endblock %}

{% block content %}
    <div class="user">
        <h2>
            {{ forum_user.user.username }}
        </h2>
        Points: {{ forum_user.get_points }}
        <table>
            <thead>
            <tr>
                <th>Topic</th>
                <th>Last posts:</th>
            </tr>
            </thead>
            <tbody>
            {% for post in forum_activity %}
                <tr>
                    <td>
                        <a href="{% url 'topic' %}{{ post.topic.id }}">{{ post.topic.title }}</a>
                    </td>
                    <td>{{ post.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}